-i https://pypi.org/simple
agate==1.14.2
aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.2
anyio==4.14.1; python_version >= '3.10'
asn1crypto==1.5.1
attrs==26.1.0; python_version >= '3.9'
azure-core==1.41.0; python_version >= '3.10'
azure-identity==1.25.3; python_version >= '3.9'
azure-keyvault-secrets==4.11.0; python_version >= '3.9'
babel==2.18.0; python_version >= '3.8'
backports.tarfile==1.2.0; python_version >= '3.8'
beautifulsoup4==4.15.0; python_full_version >= '3.7.0'
boto3==1.41.5; python_version >= '3.9'
botocore==1.41.6; python_version >= '3.9'
bs4==0.0.2
cached-property==2.0.1
cachetools==7.1.4
certifi==2026.6.17
cffi==2.0.0
chardet==4.0.0
charset-normalizer==3.4.9
click==8.3.3
collate-data-diff==0.11.11
collate-sqlfluff==3.5.3
collate-sqllineage==2.1.4
colorama==0.4.6
cryptography==49.0.0
daff==1.4.2
dbt-adapters==1.24.2; python_full_version >= '3.10.0'
dbt-common==1.38.0; python_version >= '3.10'
dbt-core==1.11.7; python_version >= '3.10'
dbt-extractor==0.6.0; python_version >= '3.9'
dbt-protos==1.0.541; python_version >= '3.6'
dbt-semantic-interfaces==0.10.5; python_version >= '3.8'
deepdiff==8.6.2; python_version >= '3.9'
diff-cover==10.3.0; python_version >= '3.10'
dnspython==2.8.0; python_version >= '3.10'
dsnparse==0.1.15
durationpy==0.10
email-validator==2.3.0
filelock==3.29.4
frozenlist==1.8.0
google-api-core[grpc]==2.31.0
google-auth==2.55.0
google-cloud-secret-manager==2.29.0
google-crc32c==1.8.0
googleapis-common-protos[grpc]==1.75.0
greenlet==3.5.3
grpc-google-iam-v1==0.14.4
grpcio==1.82.1
grpcio-status==1.81.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.18
importlib-metadata==9.0.0
iniconfig==2.3.0
isodate==0.7.2
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
jeepney==0.9.0
jinja2==3.1.6
jmespath==1.1.0
jsonpatch==1.33
jsonpointer==3.1.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keyring==25.7.0
kubernetes==36.0.2
leather==0.4.1
lxml==6.1.1; python_version >= '3.8'
mako==1.3.12; python_version >= '3.8'
markdown-it-py==4.2.0; python_version >= '3.10'
markupsafe==3.0.3; python_version >= '3.9'
mashumaro[msgpack]==3.10; python_version >= '3.8'
mdurl==0.1.2; python_version >= '3.7'
memory-profiler==0.61.0; python_version >= '3.5'
mistune==3.3.2; python_version >= '3.8'
more-itertools==10.8.0; python_version >= '3.9'
msal==1.37.0; python_version >= '3.9'
msal-extensions==1.3.1; python_version >= '3.9'
msgpack==1.2.1; python_version >= '3.10'
multidict==6.7.1; python_version >= '3.9'
mypy-extensions==1.1.0; python_version >= '3.8'
mysql-connector-python==9.7.0; python_version >= '3.10'
networkx==3.6.1; python_version >= '3.11' and python_full_version != '3.14.1'
numpy==2.4.6; python_version >= '3.11'
oauthlib==3.3.1; python_version >= '3.8'
openmetadata-ingestion==1.13.1.1; python_version >= '3.9'
orderly-set==5.5.0; python_version >= '3.8'
packaging==26.2; python_version >= '3.8'
pandas==3.0.3; python_version >= '3.11'
parsedatetime==2.6
pathspec==1.1.1
platformdirs==4.10.0
pluggy==1.6.0
propcache==0.5.2
proto-plus==1.28.0
protobuf==6.33.6
psutil==7.2.2
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.33.2
pydantic-settings==2.14.2
pygments==2.20.0
pyjwt[crypto]==2.13.0
pymysql==1.2.0
pyodbc==5.3.0
pyopenssl==26.3.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2026.2
pyyaml==6.0.3
referencing==0.37.0
regex==2026.6.28
requests==2.34.2
requests-aws4auth==1.3.2
requests-oauthlib==2.0.0
rich==15.0.0
rpds-py==2026.5.1
s3transfer==0.19.0
secretstorage==3.5.0
setuptools==82.0.1
shapely==2.1.2
six==1.17.0
snowflake-connector-python==4.6.0
snowplow-tracker==1.1.0
sortedcontainers==2.4.0
soupsieve==2.8.4; python_version >= '3.9'
sqlalchemy==2.0.51; python_version >= '3.7'
sqlglot==29.0.1; python_version >= '3.9'
sqlparse==0.5.4; python_version >= '3.8'
tabulate==0.10.0; python_version >= '3.7'
tblib==3.2.2; python_version >= '3.9'
tenacity==9.1.4; python_version >= '3.10'
text-unidecode==1.3
toml==0.10.2; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2'
tomlkit==0.15.0; python_version >= '3.9'
tqdm==4.68.3; python_version >= '3.8'
typing-extensions==4.16.0; python_version >= '3.9'
typing-inspect==0.9.0
typing-inspection==0.4.2; python_version >= '3.9'
urllib3==2.7.0; python_version >= '3.10'
websocket-client==1.9.0; python_version >= '3.9'
yarl==1.24.2; python_version >= '3.10'
zipp==4.1.0; python_version >= '3.10'
